@use '@fontsource-variable/noto-sans-jp' as *;
@use './core.scss' as *;

body {
  font-family: $font-family;
  background-color: $background;
  color: $on-background;
}

#__nuxt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  min-height: 100svh;
}
